<div id="sellStockModal" class="modal">
    <div class="modal-content">
        <h4>Sell stock {{userStock.code}}</h4>
        <p>Company: {{userStock.name}}</p>
        <p>Unit: {{userStock.rate.unit}}</p>
        <p>Single unit price: {{userStock.rate.price}}</p>
        <p>Own units: <span ng-bind="userStock.ownAmount"></span></p>
        <div class="divider"></div>
        <form novalidate class="col s12" name="sale">
            <div class="row">
                <div class="input-field col s12">
                    <input id="amount" name="amount" type="number" class="validate" ng-model="userStock.amount" required>
                    <label for="amount" data-error="Minimum {{userStock.rate.unit}}, Maximum {{userStock.amount}}, Multiple {{stock.rate.unit}}" data-success="OK">Amount</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn" ng-click="sellStock()" <!--ng-disabled="sale.$invalid"--> >Confirm</a>
        <a class="waves-effect waves-light btn" ng-click="dismissModal()">Cancel</a>
    </div>
< /div>
