<div id="input" class="section scrollspy">
    <h2 class="header">Log in</h2>

    <div class="row">
        <form novalidate class="col s12" name="loginForm">
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" ng-model="user.email" required>
                    <label for="email" data-error="Enter proper email address." data-success="OK">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" ng-model="user.password" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="waves-effect waves-light btn" ng-click="login()" ng-disabled="loginForm.$invalid">Log in <i class="material-icons right">send</i></button>
            </div>
        </form>
    </div>
    <div class="row">
        <a class="col s12 waves-effect waves-light btn" ng-href="/#!/register">Register</a>
    </div>
</div>



