<div id="input" class="section scrollspy">
    <p class="caption">
        All we want is fun!
    </p>

    <h2 class="header">Quizzes</h2>
    <div class="fixed-action-btn" style="bottom: 50px; right: 20px;">
        <a class="btn-floating btn-large waves-effect waves-light" ng-click="add()"><i class="material-icons">add</i></a>
    </div>

    <br>

    <div class="row">
        <table class="striped">
            <thead>
                <tr>
                    <th style="width: 20%;">Tytuł</th>
                    <th>Aktywny</th>
                    <th>Akcje</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="quiz in quizes">
                    <td ><a href="" ng-click="preview(quiz.id)">{{quiz.name}}</a></td>

                    <td class="center" >
                        <i ng-if="quiz.active" class="material-icons">check_circle</i>
                        <i ng-if="!quiz.active" class="material-icons">do_not_disturb_on</i>
                    </td>

                    <td>
                        <a class="waves-effect waves-light btn" ng-click="edit(quiz.id)"><i class="material-icons right">edit</i>edytuj</a>
                        <a class="waves-effect waves-light btn" ng-click="addQuestion(quiz.id)"><i class="material-icons right">add</i>pytanie</a>
                        <a ng-click="delete(quiz.id)" class="waves-effect waves-light btn red"><i class="material-icons right">delete_forever</i>usuń</a>
                        <a ng-click="switchVisibility(quiz.id, false)" ng-if="quiz.active" class="waves-effect waves-light btn grey"><i class="material-icons right">do_not_disturb_on</i>Wyłącz</a>
                        <a ng-click="switchVisibility(quiz.id, true)" ng-if="!quiz.active" class="waves-effect waves-light btn green"><i class="material-icons right">check_circle</i>Aktywuj</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




