body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo {
    left: 0.5rem;
}

.margin-top-20{
    margin-top: 20px;
}

.quiz-image-preview {
    max-width: 200px;
}

.inline-block{
    display: inline-block;
}